.sd-nav-rules{
	width: 260px;
	border-radius: 12px;
	margin: 10px 0;
	padding: 18px 30px;
	background: #222222;
}
.flex-for-sdmenu{
	display: flex;
	align-items: center;
}
.vertical-flex{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.side-nav{
	position:fixed; 
	height: 100%;
	width:20%;
	margin: 0px;
	background: #222222;
	padding: 40px 30px;
	z-index: 1;
	overflow-x: hidden;  
}
.sd-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sd-title-txt{
	font-family: 'Metropolis';
	font-size: 24px;
	color: #FFFFFF;
}
.sd-des{
	font-family: 'Metropolis';
	font-weight: bolder;
}
.sd-menu{
	margin-top: 105px;
}

.txt-for-sdmenu{
	font-family: 'Metropolis';
	margin-left: 20px;
	color: #FFFFFF;
	font-size: 16px;
}
.member-sd{
	display: flex;
	align-items: center;
}
.sd-following{
	align-items: flex-start;
	padding: 50px 30px 0;
}
.member-sd{
	display: flex;
	margin: 20px 0;
}
.memreb-img{
	margin-right: 22px;
}
.memreb-img:hover{
	width: 60px;
	height: 60px;
}
.follow{
	font-family: 'Metropolis';
	margin-bottom: 20px;
	color: #FFFFFF;
	font-size: 12px;
}
.load{
	margin-top: 10px;
}
.member-txt{
	font-family: 'Metropolis';
	color: #FFFFFF;
	font-size: 16px;
}
.load-more-txt{
	font-family: 'Metropolis';
	color: #FFFFFF;
	font-size: 16px;
}
.sd-box:hover{
	background: #FF2288;
}
.z:hover ~ .member-txt{
	color: #FF2288;
}
.load-more-txt:hover{
	color: #FF2288;
}

/*//////////-Top Bar CSS-/////////*/
.right-side{
	width:80%; 
	float: right;
}
.header-bar{
	position: fixed;
	width: 80%;	
	height: 120px;
	overflow: hidden;
	background-color: #FFFFFF;
	padding-right: 6%;
	padding-top: 30px;
	border-bottom: 0.1px solid #D8D8D8;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}
.top-bar{
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 30px;


}
.search{
	width: 25%;
	height: 70px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.search-icon{
	width: 30px;
	height: 30px;
	
}
.search input[type=text]{
	padding: 19px;
	border: none;
	border-radius: 12px;
	width: 90%;
	font-size: 14px;
	font-family: 'Metropolis';
}
.icons{
	width: 25%;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}
.mail-icon{
	width: 24px;
	height: 24px;
	background-image: url(../images/header/mail-icon.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.bell-icon{
	width: 24px;
	height: 24px;
	background-image: url(../images/header/bell-icon.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.dot-circle{
	display: flex;
	justify-content: flex-end;
}
.icons-txt{
	font-family: 'Metropolis';
	font-size: 14px;
	color: #FF2288;
}
.upload{
	width: 129px;
	border-radius: 12px;
	padding: 20px 40px;
	background: #FF2288;
}
.upl-txt{
	font-family: 'Metropolis';
	font-size: 14px;
	color: #FFFFFF;
}


/*/////////-First Section CSS-////////*/


.first-section{
	width: 100%;
	margin-top: 140px;
	display: flex;
	flex-wrap: wrap;

}
.nav-bar{
	width: 100%;
	padding: 20px 12%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.nav-bar-ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.nav-bar-li{
	border-radius: 12px;
	padding: 20px;
}
.nav-bar-li:hover{
	background-color: #F2F2F2;
}
.t{
	font-family: 'Metropolis';
	font-size: 16px;
	color: #222222;
	font-weight: bold;
}
.filters{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-radius: 12px;
	padding: 20px;
}
.filters:hover{
	background-color: #F2F2F2;
}
.filters-icon{
	margin-right: 20px;

}
.filters-txt{
	font-family: 'Metropolis';
	font-size: 16px;
	color: #222222;
	font-weight: bold;
}
.picture-content{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 40px;
	padding: 20px 12%;
	justify-content: space-between;

}
.pic-column{
	flex: 25%;
 	max-width: 25%;
  	padding: 0 4px;
}
.pic1{
	width: 90%;
	height: 210px;
	border-radius: 12px;
	background-image: url(../images/main/pic-1.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.pic1:hover{
	background-size: cover;
}
.pic2{
	width: 90%;
	height: 210px;
	border-radius: 12px;
	background-image: url(../images/main/pic-2.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.pic2:hover{
	background-size: cover;
}
.pic3{
	width: 90%;
	height: 210px;
	border-radius: 12px;
	background-image: url(../images/main/pic-3.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.pic3:hover{
	background-size: cover;
}
.pic4{
	width: 90%;
	height: 210px;
	border-radius: 12px;
	background-image: url(../images/main/pic-4.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.pic4:hover{
	background-size: cover;
}
.pic5{
	width: 90%;
	height: 210px;
	border-radius: 12px;
	background-image: url(../images/main/pic-5.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.pic5:hover{
	background-size: cover;
}
.pic6{
	width: 90%;
	height: 210px;
	border-radius: 12px;
	background-image: url(../images/main/pic-6.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.pic6:hover{
	background-size: cover;
}
.pic7{
	width: 90%;
	height: 210px;
	border-radius: 12px;
	background-image: url(../images/main/pic-7.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.pic7:hover{
	background-size: cover;
}
.pic8{
	width: 90%;
	height: 210px;
	border-radius: 12px;
	background-image: url(../images/main/pic-8.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.pic8:hover{
	background-size: cover;
}
.pic-txt{
	width: 90%;
	height: 80px;
	padding: 20px 0;
	font-family: 'Metropolis';
	font-size: 18px;
}
.load-more{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
	width: 100%;
	height: 56px;
	padding: 0 30%;
	
}
.load-d{
	border-radius: 12px;
	height: 56px;
	width: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.load-txt{
	font-family: 'Metropolis';
	font-size: 16px;
	color: #222222;
	border-radius: 12px;
}
.load-d:hover{
	background-color: #F2F2F2;
}

/*/////////-Second Section CSS-////////*/

.sec-section{
	width: 100%;
    margin-top: 8%;
    display: flex;
    flex-wrap: wrap;
}
.top-design{
	width: 15%;
	padding: 20px 0;
	margin-left: 12%;
}
.top-design-txt{
	font-family: 'Metropolis';
	font-size: 32px;
	color: #222222;
}
.design-content{
	width: 80%;
	margin-left: 12%;
	margin-top: 5%;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;

}
.design-box{
	width: 132px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.designer-text{
	width: 80px;
	height: 42px;
	margin: 20px 0 5px;
	text-align: center;
	font-family: 'Metropolis';
	font-size: 16px;
	color: #222222;
}
.designer-sec-text{
	height: 20px;
	text-align: center;
	font-family: 'Metropolis';
	font-size: 12px;
	color: #222222;
}
.des-following-button{
	width: 132px;
	border-radius: 12px;
	padding: 20px;
	margin-top: 5px;
	text-align: center;
	font-family: 'Metropolis';
	font-size: 14px;
	color: #222222;
	background-color: #F2F2F2;
}
.des-follow-button{
	width: 132px;
	border-radius: 12px;
	padding: 20px;
	margin-top: 5px;
	text-align: center;
}
.des-follow-button:hover{
	background-color: #F2F2F2;
}
.fol-p-text{
	font-family: 'Metropolis';
	font-size: 14px;
	color: #222222;
}

/*/////////-Footer CSS-////////*/

.footer-container{
	width: 100%;
	padding-left: 12%;
	display: flex;
	flex-wrap: nowrap;
}
.footer-content{
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding-top: 100px;
}
.ft-column{
	width: 20%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.ft-title{
	font-family: 'Metropolis';
	font-size: 16px;
	color: #222222;
	margin-bottom: 35px;
}
.ft-txt{
	font-family: 'Metropolis';
	font-size: 16px;
	color: #222222;
	margin-bottom: 20px;
}
.footer-logos{
	width: 100%;
	height: 25px;
	margin-top: 5%;
	padding-right: 5%; 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

}
.soc-logos{
	padding: 0 12% 5px;
}
.a-logos{
	margin-right: 15px;
}
.ft-l-txt{
	font-family: 'Metropolis';
	font-size: 16px;
	color: #222222;
}
.ft-span{
	font-family: 'Metro-bl';
	font-weight: bolder;
	color: #222222;
}
