.sd-nav-rules{
	width: 260px;
	border-radius: 12px;
	margin: 10px 0;
	padding: 18px 30px;
	background: #222222;
}
.flex-for-sdmenu{
	display: flex;
	align-items: center;
}
.vertical-flex{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.side-nav{
	max-height: 1080px;
	height: 100%;
	width: 320px;
	position: fixed;
	top: 0;
  	left: 0;
	background: #222222;
	padding: 40px 30px;
	z-index: 1;
	overflow-x: hidden;
}
.sd-title{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sd-title-txt{
	font-family: 'Metropolis';
	font-size: 24px;
	color: #FFFFFF;
}
.sd-des{
	font-family: 'Metropolis';
	font-weight: bolder;
}
.sd-menu{
	margin-top: 105px;
}

.txt-for-sdmenu{
	font-family: 'Metropolis';
	margin-left: 20px;
	color: #FFFFFF;
	font-size: 16px;
}
.member-sd{
	display: flex;
	align-items: center;
}
.sd-following{
	align-items: flex-start;
	padding: 50px 30px 0;
}
.member-sd{
	display: flex;
	margin: 20px 0;
}
.memreb-img{
	margin-right: 22px;
}
.follow{
	font-family: 'Metropolis';
	margin-bottom: 20px;
	color: #FFFFFF;
	font-size: 12px;
}
.load{
	margin-top: 10px;
}
.member-txt{
	font-family: 'Metropolis';
	color: #FFFFFF;
	font-size: 16px;
}
.load-txt{
	font-family: 'Metropolis';
	color: #FFFFFF;
	font-size: 16px;
}
.sd-box:hover{
	background: #FF2288;
}
.z:hover ~ .member-txt{
	color: #FF2288;
}
.load-txt:hover{
	color: #FF2288;
}

/*//////////-Top Bar CSS-/////////*/

.top-bar{
	position: fixed;
	width: 85%;
	top: 0;
  	left: 320px;
  	z-index: 1;
	height: 117px;
	/*margin-left: 320px;*/
	padding: 30px 90px 30px 40px;
	/*background-color: #666699;*/
	display: flex;
	flex-wrap: nowrap;
	/*justify-content: space-between;*/

}
.search{
	width: 25%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.search-icon{
	width: 30px;
	height: 30px;
	
}
.search input[type=text]{
	padding: 19px;
	border: none;
	border-radius: 12px;
	width: 90%;
	font-size: 14px;
	font-family: 'Metropolis';
}
.icons{
	width: 25%;
	margin-left: 45%;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
}
.mail-icon{
	width: 24px;
	height: 24px;
	background-image: url(../images/header/mail-icon.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.bell-icon{
	width: 24px;
	height: 24px;
	background-image: url(../images/header/bell-icon.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.dot-circle{
	display: flex;
	justify-content: flex-end;
}
.icons-txt{
	font-family: 'Metropolis';
	font-size: 14px;
	color: #FF2288;
}
.upload{
	width: 129px;
	border-radius: 12px;
	padding: 20px 40px;
	background: #FF2288;
}
.upl-txt{
	font-family: 'Metropolis';
	font-size: 14px;
	color: #FFFFFF;
}
.first-section{
	width: 64%;
	margin-top: 157px;
	margin-left: 26%;
}
.nav-bar{
/*	height: 56px;*/
	padding: 20px 0;
/*	background-color: #666699;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
/*	align-items: center;*/

}
.nav-bar-ul{
/*	width: 61%;*/
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.nav-bar-li{
	border-radius: 12px;
	padding: 20px;
}
.nav-bar-li:hover{
	background-color: #F2F2F2;
}
.t{
	font-family: 'Metropolis';
	font-size: 16px;
	color: #222222;
	font-weight: bold;
}
.filters{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-radius: 12px;
	padding: 20px;
}
.filters:hover{
	background-color: #F2F2F2;
}
.filters-icon{
	margin-right: 20px;

}
.filters-txt{
	font-family: 'Metropolis';
	font-size: 16px;
	color: #222222;
	font-weight: bold;
	/*margin-bottom: 5px;*/
}
.picture-content{
	display: flex;
	flex-wrap: wrap;
	height: 700px;
	margin-top: 40px;
	/*align-content: space-around;*/
	justify-content: space-between;

}
.pic1{
	width: 100%;
	height: 210px;
	background-image: url(../images/main/pic-1.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.pic2{
	width: 100%;
	height: 210px;
	background-image: url(../images/main/pic-2.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.pic3{
	width: 100%;
	height: 210px;
	background-image: url(../images/main/pic-3.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.pic4{
	width: 100%;
	height: 210px;
	background-image: url(../images/main/pic-4.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.pic5{
	width: 100%;
	height: 210px;
	background-image: url(../images/main/pic-5.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.pic6{
	width: 100%;
	height: 210px;
	background-image: url(../images/main/pic-6.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.pic7{
	width: 100%;
	height: 210px;
	background-image: url(../images/main/pic-7.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.pic8{
	width: 100%;
	height: 210px;
	background-image: url(../images/main/pic-8.jpg);
	background-repeat: no-repeat;
	background-position: center;
}
.pic-txt{
	width: 290px;
	padding: 20px 0;
	font-family: 'Metropolis';
	font-size: 18px;
}